
        </div>

        <div class="box box2">

        <h2><a href="Journals/Daily/index.html" name=Daily>Daily Journal</a></h2>
            <br>

        <h2><a href="Journals/Vim/index.html" name=Vim> Vim Journal </a></h2>
            <br>

        <h2><a href="Journals/Go/index.html" name=Go> Go Journal</a></h2>
            <br>

        <h2><a href="Journals/CSS/index.html" name=CSS> CSS Journal</a></h2>
            <br>

        <h2><a href="Journals/Git/index.html" name=Git> Git Journal</a></h2>
            <br>

        <h2><a href="Journals/HTML/index.html" name=HTML> HTML Journal</a></h2>
            <br>

        <!-- <h2><a href="Journals/Resume/index.html" name=Resume> Resume Journal</a></h2> -->
            <!-- <br> -->

        <h2><a href="Journals/Scripts/index.html" name=Scripting> Scripting Journal</a></h2>
            <br>

        <h2><a href="Journals/Tmux/index.html" name=Tmux> Tmux Journal</a></h2>
            <br>

        <!-- <h2><a href="Journals/Taraform/index.html" name=Taraform> Taraform Journal</a></h2> -->
            <!-- <br> -->

        <!-- <h2><a href="Journals/Go/index.html" name=Go> Go Journal</a></h2> -->
            <!-- <br> -->
        <!-- <h2><a href="Journals/Go/index.html" name=Go> Go Journal</a></h2> -->
            <!-- <br> -->
      </div>
    </body>

</html>

