      <div class=wrapper>
      <div class="box box1">
            <h2>Smoking Gears:</h2>
            <h1>Leaning till it hurts!</h1>
        <h1>Adrnljnky's Blogging Home Page</h1>

        </div>

      <!-- <div class="nested box3"> -->
        <!-- </div> -->

<div class="box box4">

