        </div>

          <div class="sidebar">
        <div class="box box2">

          <div class="myButton">
          <a href="Journals/Daily/index.html" name=Daily>Daily Journal</a></h2></div>
          <br>

          <div class="myButton"><a href="Journals/Vim/index.html" name=Vim> Vim Journal </a></h2></div>
          <br>

          <div class="myButton"><a href="Journals/Go/index.html" name=Go> Go Journal</a></h2></div>
          <br>


          <div class="myButton"><a href="Journals/CSS/index.html" name=CSS> CSS Journal</a></h2></div>
          <br>

          <div class="myButton"><a href="Journals/Git/index.html" name=Git> Git Journal</a></h2></div>
          <br>

          <div class="myButton"><a href="Journals/HTML/index.html" name=HTML> HTML Journal</a></h2></div>
          <br>

          <!-- <a href="Journals/Resume/index.html" name=Resume> Resume Journal</a></h2> -->
          <!-- <br> -->

          <div class="myButton"><a href="Journals/Scripts/index.html" name=Scripting> Scripting Journal</a></h2></div>
          <br>

          <div class="myButton"><a href="Journals/Tmux/index.html" name=Tmux> Tmux Journal</a></h2></div>
          <br>

          <!-- <a href="Journals/Taraform/index.html" name=Taraform> Taraform Journal</a></h2> -->
          <!-- <br> -->

          <!-- <a href="Journals/Go/index.html" name=Go> Go Journal</a></h2> -->
          <!-- <br> -->
          <!-- <a href="Journals/Go/index.html" name=Go> Go Journal</a></h2> -->
          <!-- <br> -->
      </div>
      </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



