
.header {
  border: 2px solid: #A00984;
  border-radius: 5px;
  background-color: #0A3C99;
  padding: 1em;
  /* color: #9A320A; */
  padding: 2em;
  /* color: #D0320A; */
  }

.sidebar {
  color: #023A0A;
  background-color: #234569;


  }

.myButton {
color: rgb(255, 255, 255);
font-size: 16px;
line-height: 16px;
padding: 6px;
border-radius: 10px;
font-family: Georgia, serif;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
background: #1C3AA3;
/* background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); */
box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
border: 2px solid rgb(28, 110, 164);
display: vertical;
}

.myButton:hover {
background: #1C6EA4; }

.myButton:active {
background: #144E75; }
