
.grid {
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(250ps, 1fr) );
}

* {box-sizing: border-box;}

.wrapper {
  border: 2px solid #2a43a0;
  border-radius: 5px;
  background-color: #000000;
  /* display: content; */
}

.box {
  border: 4px solid #234C99;
  border-radius: 8px;
  background-color: #234568;
  padding: 3em;
}

.nested {
  border: 2px solid #0A3C99;
  border-radius: 5px;
  background-color: #234562;
  padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 0;
  align: center;
  padding: 20 px;
  text-align: center;
  font-size: xx-large;
  color: #0A9093;
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end:10;
/* background-color: #1B3079 */
}

.box3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2 ;
  grid-row-end: 2;
  background-color: #0A3C99;
  text-align: center;
}

.box4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2 ;
  grid-row-end: 5;
  /* font-border: 9 em; */
  text-shadow: 9 em;
  text-shadow-color: #000000;
  text-align: left;
  color: #0A9093;
}




























