#!/bin/html




body {
    text-align: center
}

h1 {
    position: center;
    /* color: #0A4F7F; */
    color: olive
    font-style: inherit
    font-size: xx-large;
    font-weight: 800;
    text-align: center
}

h2 {
    color: olive
}

h3 {
  color: olive
}



