.container-class {
    /* background-image: url("summer-road.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    width: 400px;
    height: 400px;
    border: 2px dashed #333;
}

body {
    /* background-image: url("summer-road.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 100% auto; */
    border: 2px dashed #03C099;
    /* font-size: medium; */
    /* background-image: url(Images/Summer-morning-mountains-stones-road_1920x1200.jpg) */
    font-style: Bold Helvetica;
    font-size: large
}


h1 {
    position: center;
    padding: .5em, 1em;
    font-style: inherit;
    font-size: inherit;
    /* font-size: xx-large; */
    /* font-weight: 800; */
}

h2 {
    /* position: relative; */
    /* column-count: 1; */
    /* column-width:auto; */
    /* width: fit-content; */
    /* padding: 2em, 2em, 2em, 2em; */
    /* color: #32299F; */
    /* font-size: x-large; */
    /* font-weight: 900; */
    /* text-shadow: 4px 9px 0px 0px #941206; */
    /* text-align: center; */
    /* text-decoration: double underline; */
    /* animation-name: Climb; */
    /* animation-duration:1.5s; */
    /* animation-iteration-count: 1; */
}

h3 {
    /* position: center; */
    /* left: 9em; */
    /* bottom: 14em; */
    /* box-sizing: 400px; */
    /* box-direction:linear, unset, ease-out; */
    /* font-size: large; */
    /* font-weight: 900; */
    /* padding: 10px 10px 10px 10px; */
}



/* ul { */
/*     position: center; */
/*     bottom: 100px; */
/*     box-sizing: 800px; */
/*     box-align:center; */
/*     box-shadow:8em; */
/*     /1* padding: 40px 40px 40px 40px; *1/ */
/*     font-size: large; */
/*     /1* animation: MoveUpDown 5s linear infinite; *1/ */
/* } */

/* span { */
/*     position: relative; */
/*     right: 0em; */
/*     bottom: 0em; */
/*     padding-block-start: 40px; */
/*     font-size: small; */
/*     text-decoration: darkblue; */
/* } */

@keyframes Climb{
    100% {left:0px; top: 000px;}
    /* 090% {left:0px; top: 050px;} */
    /* 095% {left:0px; top: 055px;} */
    /* 080% {left:0px; top: 100px;} */
    /* 085% {left:0px; top: 105px;} */
    /* 070% {left:0px; top: 150px;} */
    /* 075% {left:0px; top: 155px;} */
    /* 060% {left:0px; top: 200px;} */
    /* 065% {left:0px; top: 205px;} */
    /* 050% {left:0px; top: 250px;} */
    /* 055% {left:0px; top: 255px;} */
    /* 040% {left:0px; top: 300px;} */
    /* 045% {left:0px; top: 305px;} */
    /* 030% {left:0px; top: 350px;} */
    /* 035% {left:0px; top: 355px;} */
    /* 020% {left:0px; top: 400px;} */
    /* 025% {left:0px; top: 405px;} */
    /* 010% {left:0px; top: 450px;} */
    /* 015% {left:0px; top: 455px;} */
    /* 005% {left:0px; top: 500px;} */
    000% {left:0px; top: 555px;}
}



@keyframes MoveUpDown {
  0%, 100% {bottom: 0;}
  50% {bottom: 100px;}
  }


@keyframes Box {
  0% {left:0px; top:0px;}
  25% {left:250px; top:0px;}
  50% {left:250px; top:250px;}
  75% {left:0px; top:250px;}
  100% {left:0px; top:0px;}
  }

@keyframes Drop {
    000% {left:0px; top: 300px;}
    005% {left:0px; top: 290px;}
    010% {left:0px; top: 200px;}
    024% {left:0px; top: 193px;}
    056% {left:0px; top: 195px;}
    078% {left:0px; top: 194px;}
    100% {left:0px; top: 000px;}
}
